:root {
    --var-5: 5px;
    --var-10: 10px;
    --var-16: 12px;
    --var-24: 16px;
    --var-25: 25px;
    --var-32: 24px; // check
    --var-40: 40px;
    --var-48: 24px;
    --var-50: 20px;
    --var-60: 20px;
    --var-70: 30px;
    --var-80: 30px;
    --var-100: 50px;
    --var-120: 50px;
    --var-140: 80px;
    --var-160: 100px;
    --var-200: 200px;

    --g-padding: 40px;
}
