.env
*.log
*.zip
docker-compose.yml
nginx/
php/
CLAUDE.md
wp-config.php
dup-installer-bootlog__*.txt
dup-installer/
.tmb/
wp-admin/
wp-includes/
wp-content/wflogs/
wp-content/uploads/
wp-content/uploads-webpc/
wp-content/themes/garden/Garden/
wp-content/themes/garden/old/Garden/
