.blog-block {
    height: 200px;

    &__link {
        padding: 0 14px;

        span {
            display: none;
        }
    }
}

.blog-item {
    &__text-wrapper {
        padding: 28px 12px 12px;

        height: 120px;
    }

    &__text {
        font-size: 20px;
        line-height: 24px;
    }
}
