%link {
    display: flex;
    align-items: center;
    column-gap: 4px;

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    color: var(--secondary);

    transition: color 0.3s;

    span {
        transition: color 0.3s;
    }

    svg {
        transition: transform 0.3s;

        path {
            transition: stroke 0.3s;
        }
    }

    &:hover {
        span {
            color: var(--secondary-black);
        }

        svg {
            transform: translateX(5px);

            path {
                stroke: var(--secondary-black);
            }
        }
    }
}
