.select-container {
  display: flex;
  flex-direction: column;
  row-gap: 12px;

  width: 100%;

  white-space: nowrap;

  .select {
    display: block;
    max-width: 100%;
    width: 100%;
    position: relative;

    @extend %text-normal;
    color: var(--bw0);

    max-width: 300px;
  }

  .new-select {
    position: relative;
    background-color: var(--select-bg);
    padding: 11px 50px 11px 24px;
    cursor: pointer;
    user-select: none;

    text-align: left;

    color: var(--bw0);

    border: 1px solid var(--bw3);

    height: 52px;
  }

  .new-select__list {
    position: absolute;
    top: 50px;
    left: 0;
    border: 1px solid var(--bw3);
    border-top: none;
    cursor: pointer;
    width: 100%;
    z-index: 2;
    background: var(--select-bg);
    user-select: none;

    border-radius: 0;
  }

  .new-select__list.on {
    display: block;
  }

  .new-select__item span {
    display: block;
    padding: 6px 24px;

    color: var(--bw0);

    background: var(--select-bg);
    transition: all 0.5s;
  }

  .new-select__item span:hover {
    background-color: var(--secondary-light);
  }

  .new-select:after {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    right: 24px;
    top: 18px;

    background: url("resourses/select-arrow.svg") no-repeat right center / contain;
    opacity: 1;

    -webkit-transition: all 0.27s ease-in-out;
    -o-transition: all 0.27s ease-in-out;
    transition: all 0.27s ease-in-out;

    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  .new-select.on:after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@media (prefers-color-scheme: dark) {
  .select-container {
    .new-select:after {
      background: url("resourses/select-arrow-white.svg") no-repeat right center / contain;
    }
  }
}
