.quiz-block {
    .final {
        p {
            font-size: 18px;
            line-height: 24px;
        }
    }
    .quiz-step {
        &__header {
            flex-direction: column-reverse;
            row-gap: 24px;

            &__number {
                margin-left: 0;
            }
        }
        &__content {
            &__input-with-btn {
                column-gap: 16px;
                padding-right: 16px;
            }
        }
    }
}
