.breadcrumb {
  display: flex;
  align-items: center;
  gap: 8px;

  margin-top: var(--var-32);

  img {
    width: 14px;
    height: 10px;

    object-fit: contain;
    object-position: center;
  }

  color: var(--bw1);

  a {
    color: var(--bw1);
    transition: color 0.3s;
    &:hover {
      color: var(--secondary);
    }
  }
}

@media screen and (max-width: 600px) {
  .breadcrumb {
    display: none;
  }
}
