.catalog {
    &__container {
        flex-direction: column;
        row-gap: 32px;
    }
    &__goods {
        margin-left: 0;

        &__container {
            grid-template-columns: repeat(auto-fit, 240px);
            grid-auto-rows: 528px;
            column-gap: 10px;
        }

        &__text {
            margin-top: 80px;
        }
    }
}

.catalog-categories {
    width: 100%;
    max-width: 100%;

    ul {
        display: grid;
        grid-template-columns: 1fr 1fr;

        column-gap: 24px;
        row-gap: 12px;
    }

    &__item {
        &:not(:first-of-type) {
            margin-top: 0;
        }
    }
}
