.requisites-page {
    .second-header {
        margin-top: 60px;
    }

    .requisites-item {
        &__label {
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: var(--bw1);
        }

        &__text {
            margin-top: 6px;

            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: var(--bw0);
        }
    }

    .requisites-button {
        margin-top: 70px;
    }
}
