.single-blog-page {
    &__container {
        margin-top: 16px;

        display: flex;
        flex-direction: column;
        row-gap: 100px;
    }

    &__content {
        max-width: 100%;
    }

    &__blogs {
        max-width: 100%;
        flex-direction: row;
        column-gap: 16px;

        .blog-item {
            height: 210px;
        }
    }
}
