.main ~ .footer {
    //margin-top: 100px;
    margin-top: 12px;
}

.main {
    .first-block {
        padding-top: 130px;
        &__title {
            width: 454px;
        }
        &__text {
            margin-top: 24px;

            font-size: 32px;
            font-weight: 600;
            line-height: 40px;
        }
        &__button {
            margin-top: 16px;
        }
        &__media {
            margin-top: 60px;
        }
        &__bottom {
            margin-top: 60px;

            padding: 32px 0;

            &__container {
                display: grid;
                grid-template-columns: max-content max-content;

                justify-content: center;

                column-gap: 100px;
                row-gap: 24px;
            }

            .advantage-item {
                max-width: 240px;

                &__info {
                    margin-left: 12px;
                }

                &__header {
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 24px;
                }

                &__desc {
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 24px;
                }
            }
        }
    }

    .categories-section {
        &__container {
            grid-auto-rows: 175px;
            column-gap: 12px;
            row-gap: 12px;
            grid-auto-flow: dense;
        }

        .categories-item {
            &__name {
                font-size: 20px;
                font-weight: 800;
                line-height: 24px;

                &::after {
                    width: 114px;
                }
            }
            &.big-item {
                grid-column: 3/5;
            }
        }
    }

    .offers-block {
        margin-top: 16px;
        height: 300px;
        .banners-container {
            padding-left: 16px;
        }

        .borderless-banners-slider {
            padding-bottom: 0;
            height: 100%;

            .swiper-slide {
                width: fit-content;
                &:last-of-type {
                    margin-right: 12px;
                }
            }

            .swiper-scrollbar {
                display: none;
            }
        }
    }

    .categories-section {
        padding: 0;
        background-color: transparent;
    }

    .landscape-section {
        &__main {
            padding-top: 150px;
            height: 450px;
        }

        &__container {
            margin-top: 8px;

            column-gap: 8px;

            height: 200px;
        }
    }

    .recommended-goods-block {
        margin-top: 100px;
    }
}
