.account {
    &__nav {
        display: none;
    }

    .password-change {
        max-width: 100%;

        &__btn {
            width: 100%;
            justify-content: center;
        }
    }
}
